/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-size:16px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    font-family: 'Roboto Slab', sans-serif;
    text-shadow: none;
}

p {
    text-shadow: none;
}

.md-scroll-mask { position: initial;}

.ui-page-theme-a {
    background-color: transparent;
}

button {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    /*border-radius: none;*/
}

.header {
    top: 0px;
    height: 44px;
    padding: 5px 0px;
    width: 100%;
    background-color: #ffffff;
    z-index: 999;
}

p.error {
    font-size: 14px;
    color: red;
    margin: 0px;
}

.views {
    overflow: hidden;
    display: none;
}

#connexion-screen {
    display: block;
    margin-top: 0px;
    padding-top: 25px;
}

.header button, .header a {
    position: absolute;
}

.artclose {
    display: none;
}

.open--menu .artclose, .close--menu .artclose {
    display: block;
}

.cancel--message {
    display: none;
}

a.open--menu {
    width: 33px;
    margin: 7px auto;
    padding: 0px;
    left: 15px;
}

button.open--profile {
    width: 56px;
    height : 56px;
    left: 50%;
    margin-left: -31px;
    border-radius: 50%;
    border: 3px solid #47ACFF;
    top: 10px;
    background-color: #888;
    background-size: 70px;
    background-position: center center;
}

a.open--public {
    display: block;
    right: 15px;
    margin: 7px auto;
    width: 30px;
    height: 30px;
    text-indent: -999px;
    overflow: hidden;
    background: url('../img/public.png') no-repeat center;
    background-size: 30px;
}

.back--button {
    overflow: hidden;
    text-indent: -1000px;
    height: 30px;
    width: 30px;
    background: url('../img/back.png') no-repeat center;
    background-size: 30px;
    position: fixed;
    top: 10px;
    left: 10px;
}

.cancel--message--icon {
    overflow: hidden;
    text-indent: -1000px;
    height: 30px;
    width: 30px;
    background: url('../img/back-blue.png') no-repeat center;
    background-size: 30px;
    margin-top: 10px;
    margin-left: 10px;
}

.back--button.blue {
    background: url('../img/back-blue.png') no-repeat center;
    background-size: 30px;
}

button {
    outline: none;
}

.open--menu .artclose, .close--menu .artclose {
    height: 30px;
    width: 33px;
    cursor: pointer;
    display: block;
}

.burgx, .burgx2, .burgx3 {
    margin-top: 5px;
    background: #47ACFF;
    width: 33px;
    height: 2px;
    position: absolute;
}

.burgx2 {
    margin-top: 15px;
}
.burgx3 {
    margin-top: 25px;
}
    
.close--menu .burgx {
    margin-top: 13px;
    transform: rotate(-45deg);
}

.close--menu .burgx2, .close--menu .burgx3 {
    margin-top: 13px;
    transform: rotate(45deg);
}

#map {
    width: 100%;
    height: 250px;
}

.hide, .ui-mobile label.hide {
    display: none;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.activities--container {
    padding-bottom: 30px;
    background-color: #fff;
    padding-top: 20px;
}

.activities--list {
    list-style: none;
    position: relative;
    padding: 0px;
    width: calc(84% - 18px);
    margin-left: 8%;
    padding-left: 16px;
    margin-top: 0px;
}

.activities--list li {
    position: relative;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 0.9375em;
    line-height: 1.4em;
    font-weight: 300;
    margin-bottom: 15px;
    white-space: nowrap;
}
.activities--list li:before {
    content: "";
    position: absolute;
    top: 0px;
    left: -26px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #47ACFF;
    background-color: #fff;
}
.activities--list li.message--detected:before {
    background-color: #FFE458; 
}

.activities--list li:last-child {
    margin-top: -20px;
    bottom: -20px;
}

.activity-date {
    font-size: 0.8em;
    line-height: 1.2em;
    margin: 0px;
}

#message-screen {
    background-color: #47acff;
    margin: 0px;
}

button.add--message {
    background-color: #47acff;
    background-image: url('../img/plus.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    padding: 0px;
    position: fixed;
    right: 15px;
    bottom: 15px;
    text-indent: -1000px;
    overflow: hidden;
}

p.distance {
    margin: 0px;
    color: #fff;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 32px;
    text-align: center;
    padding-top: 350px;
}

.direction {
    width: 106px;
    height: 168px;
    position: absolute;
    transform-origin: center 119px;
    background: url('../img/direction.png') no-repeat center;
    top: 170px;
    left: 50%;
    margin-left: -53px;
}

p.big-text {
    font-size: 40px;
    color: #fff;
    font-family: 'Roboto Slab', sans-serif;
    text-align: center;
    padding-top: 50px;
    margin: 0px;
}

#inscription-screen {
    margin-top: 0px;
}

form#inscription, form#connexion, form#new-message, form#profile {
    width: 90%;
    margin-left: 5%;
}

form#inscription {
    margin-top: 40px;
}

form#inscription ul, form#connexion ul, form#profile ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

form#inscription label, form#connexion label {
    display: none;
}

input[type="text"], input[type="password"] {
    width: calc(100% - 20px);
    background-color: #f2f2f2;
    border: none;
    outline: none;
    padding: 10px;
    margin-top: 20px;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 16px;
    color: #333;
}

input.button, button.button, a.button {
    background-color: #47acff;
    outline: none;
    border: none;
    width: 100%;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    margin-top: 20px;
    font-family: 'Comfortaa', sans-serif;
    text-decoration: none;
    display: block;
    text-align: center;
    font-weight: 300;
    text-shadow: none;
}

a.button:visited {
    color: #fff;
}

input.border-button, button.border-button, a.border-button {
    border: 2px solid #47acff;
    background-color: #fff;
    color: #47acff;
}

a.border-button:visited {
    color: #47acff;
}

#connexion-screen a {
    width: calc(90% - 22px);
    margin: 20px;
    margin-left: 5%;
}

.add-message-view ul {
    list-style: none;
    padding: 0px;
}

.message-step1 label {
    display: none;
}

.next-message-step-container, .send-message {
    width: 100%;
    position: fixed;
    bottom: 0px;
    margin-left: -18px;
}

.next-message-step-container button, form#new-message input[type='submit'] {
    background-color: #47acff;
    color: #fff;
    width: 100%;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 18px;
    padding: 10px;
}

form#new-message input[type='submit'] {
    margin-top: 0px;
}

.add-message-view input, .add-message-view textarea {
    width: calc(100% - 20px);
    background-color: #f2f2f2;
    border: none;
    outline: none;
    padding: 10px;
    margin-top: 20px;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 16px;
    color: #333;
}

.add-message-view textarea {
    min-height: 90px;
}

.friends-list li {
    margin-top: 15px;
    padding: 5px 0px;
}

.add-message-view .friends-list label:before{
    content: "";
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    border: 2px solid #47acff;
    border-radius: 50%;
    clear: both;
    margin-right: 5px;
}

.add-message-view .friends-list input[type="checkbox"]:checked + label:before {
    background-color: #ffe458;
}

.add-message-view .friends-list input[type="checkbox"]{
    display: none;
}

#intro-screen ul {
    list-style: none;
    padding: 0px;
}

#intro-screen {
    padding-top: 50px;
}

#intro-screen p {
    text-align: center;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 18px;
}

#intro-screen p.error {
    font-size: 14px;
    color: red;
    margin: 0px;
    text-align: left;
}

form#profile {
    margin-top: 100px;
}

button.find-friends, .choose-method button {
    background-color: #47acff;
    color: #fff;
    font-family: 'Comfortaa', sans-serif;
    width: 90%;
    margin-left: 5%;
    font-size: 18px;
    padding: 10px;
}

.choose-method button {
    margin-bottom: 15px;
}

.choose-method button.finish-intro {
    background-color: #fff;
    border: 2px solid #47acff;
    color: #47acff;
}

.choose-method {
    margin-top: 100px;
}

button.skip-step {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.choose-public {
    overflow: hidden;
    position: fixed;
    bottom: 60px;
    margin-top: 15px;
    left: 50%;
    margin-left: -41px;
}

.choose-public input {
    display: none;
}

.choose-public input:checked + label:before {
    background: url('../img/checked.png') no-repeat center;
    background-size: 14px;
    background-color: #47acff;
}

.choose-public label {
    padding-top: 2px;
}

.choose-public label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #47acff;
    margin-right: 10px;
    margin-top: -2px;
}

.choose-public label:before, .choose-public label {
    float: left;
}

#acceptfriends-screen {
    margin-top: 100px;
}

#acceptfriends-screen p {
    text-align: center;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 18px;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 90px;
}

button.accept, button.refuse {
    background-color: #47acff;
    color: #fff;
    font-family: 'Comfortaa', sans-serif;
    width: 90%;
    margin-left: 5%;
    font-size: 18px;
    padding: 10px;
    margin-top: 20px;
}

.foundedmessage {
    margin: 0 auto;
    margin-top: 130px;
    width: calc(90% - 30px);
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.8);
}

.foundedmessage .tag, .foundedmessage .message-info {
    font-family: 'Comfortaa', sans-serif;
    font-size: 14px;
}

.menu ul li {
    margin-top: 20px;
}

button.add-profile-pict {
    display: block;
    width: 76px;
    height : 76px;
    margin: 0 auto;
    border-radius: 50%;
    border: 3px solid #47ACFF;
    top: 10px;
    background-color: #888;
    background-size: 140px;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    text-indent: -999px;
}

div#map {
    position: relative;
}

button.lock-location {
    width: 38px;
    height: 38px;
    text-indent: -999px;
    background: url('../img/unlocked.png') no-repeat center center;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

button.lock-location.locked {
    background-image: url('../img/lock.png');
}

.activities--list button.delete-activity {
    position: absolute;
    right: -120px;
    top: 5px;
    background-color: #fff;
    padding-left: 15px;
    color: #FF4E4E;
}

button.like-publicmessage {
    width: 20px;
    height: 20px;
    background: url('../img/heart.png') no-repeat center;
    background-size: 20px;
    overflow: hidden;
    text-indent: -999px;
}

#public-screen {
    background-color: #fff;
}

.public-messages {
    list-style: none;
    padding: 20px;
    margin-top: 30px;
}

.public-messages li {
    clear: both;
    background-color: #f2f2f2;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 5px 10px;
    width: calc(100% - 20px);
}

.public-messages p {
    font-family: 'Comfortaa', sans-serif;
}

p.publicmessage-tag {
    float: left;
    font-size: 14px;
}

p.publicmessage-time {
    float: right;
    font-style: italic;
    font-size: 14px;
}

p.publicmessage-content {
    padding-top: 5px;
    clear: both;
    font-family: 'Roboto Slab', sans-serif;
}

p.publicmessage-sender {
    float: left;
    font-size: 14px;
}

p.publicmessage-distance, button.like-publicmessage {
    float: right;
    font-size: 14px;
}

p.publicmessage-distance {
    margin-right: 10px;
}

.publicmessage-sender, .publicmessage-distance, .like-publicmessage {
    line-height: 20px;
    margin-top: 0px;
}

button.password-forgot {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 14px;
}

#connexion-screen .logo {
    width: 90px;
    height: 134px;
    background: url('../img/logo.png') no-repeat center;
    background-size: contain;
    margin: 0 auto;
}

.allow-mobile {
    margin: 0 auto;
    text-align: center;
    width: calc(37% + 60px);
    margin-bottom: 10px;
}

.allow-mobile label {
    float: left;
    margin-right: 30px;
}

.allow-mobile label:before{
    content: "";
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    border: 2px solid #47acff;
    border-radius: 50%;
    clear: both;
    margin-right: 10px;
}

.allow-mobile input[type="radio"]:checked + label:before {
    background-color: #ffe458;
}

.allow-mobile input[type="radio"]{
    display: none;
}

#phone-auto-error {
    clear: both;
}

.suggest-friend {
    width: 90%;
    margin: 0 auto;
    opacity: 0.5;
    display: none;
    margin-top: 60px;
    font-size: 15px;
}

.suggest-friend a {
    width: calc(100% - 20px);
    color: #fff;
}

.suggest-friend p {
    text-align: center;
}

.menu {
    margin-top: 20px;
}

.menu ul {
    list-style: none;
    padding: 20px;
}

.menu ul li {
    background-color: #f2f2f2;
    margin-bottom: 10px;
}

.menu ul li a {
    text-decoration: none;
    color: #000;
    padding: 10px;
    display: block;
    font-weight: 300;
    width: calc(100% - 20px);
}

.menu ul li a:focus, .menu ul li a:active, .menu ul li a:visited {
    color: #000;
}

.myfriends-list {
    margin-top: 50px;
    list-style: none;
}

form#search-by-username {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
}

form#search-by-username input {
    margin-top: 10px;
}

.by-username-screen .search-result, .contact-result {
    list-style: none;
    padding: 0px 20px;
    width: calc(100% - 40px);
}

.contact-result {
    width: calc(90% - 40px);
    margin: 0 auto;
    margin-top: 50px;
}

.by-username-screen .search-result li, .contact-result li {
    overflow: hidden;
    line-height: 30px;
    vertical-align: middle;
    margin-bottom: 15px;
}

.by-username-screen .search-result .add-friend, .contact-result .add-friend {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    background: url('../img/plus.png') no-repeat center;
    background-color: #47acff;
    background-size: 15px;
    float: right;
    text-align: center;
}

.by-username-screen .search-result .add-friend span, .contact-result .add-friend span {
    display: none;
}

.by-username-screen .search-result .add-friend.sended, .contact-result .add-friend.sended {
    background: none;
    background-color: #47acff;
}

.by-username-screen .search-result .add-friend.already-friend, .contact-result .add-friend.already-friend {
    background: url('../img/checked.png') no-repeat center;
    background-size: 15px;
    background-color: #47acff;
}

.by-username-screen .search-result .add-friend.sended span, .contact-result .add-friend.sended span {
    text-indent: 0px;
    display: block;
    color: #fff;
    line-height: 10px;
    margin-top: -8px;
    font-weight: 500;
    vertical-align: middle;
}

